{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Change Password</title>

    <!-- Font Icon -->
    <link
      rel="stylesheet"
      href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}"
    />

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <div class="main">
      <!-- Log in  Form -->
      <section class="sign-in">
        <div class="container">
          <div class="signin-content">
            <div class="signin-image">
              <figure>
                <img
                  src="{% static 'images/signin-image.jpg' %}"
                  alt="Change Password Image"
                />
              </figure>
            </div>

            <div class="signin-form">
              <h2 class="form-title">Change Password</h2>
              {% if form.errors %} {% for key, value in form.errors.items %} 
              {% for error in value %}
              <div style="padding: 3px; color:white; background-color: red;"><li>{{ error }}</li></div>
              {% endfor %} {% endfor %} {% endif %}
              <!-- {% for error in form.errors %}
              <p class="text-danger">{{ error }}</p>
              {% endfor %} -->
              <form
                method="POST"
                class="register-form"
                id="login-form"
                enctype="multipart/form-data"
              >
                {% csrf_token %}
                <div class="form-group">
                  <label for="old_password"
                    ><i class="zmdi zmdi-lock"></i
                  ></label>
                  <input
                    type="password"
                    name="old_password"
                    id="old_password"
                    placeholder="Old Password"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="your_pass1"><i class="zmdi zmdi-lock"></i></label>
                  <input
                    type="password"
                    name="new_password1"
                    id="your_pass1"
                    placeholder="New Password"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="your_pass2"><i class="zmdi zmdi-lock"></i></label>
                  <input
                    type="password"
                    name="new_password2"
                    id="your_pass2"
                    placeholder="Confirm New Password"
                    required
                  />
                </div>
                <div class="form-group form-button">
                  <button type="submit" id="signin" class="form-submit">
                    Change Password
                  </button>
                  | <a href="{% url 'profile' user.id %}">
                    Cancel
                  </a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </div>

    <!-- JS -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
  <!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
